/*
  All credits are to Oliver Knoblich.
  http://codepen.io/oknoblich/pen/vfJxr
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #333;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 100%;
  width: 60%;
  margin: 0 20%;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #eaeaea;
  animation: 60s credits linear infinite;
}

.movie {
  margin: 25px;
  font-size: 70px;
  width: initial;
}

.job {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 38px;
}

.name {
  margin-bottom: 15px;
  font-size: 28px;
  width: 33%;
  display: inline-block;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -1500%;
  }
}
