<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Automated twitch credits</title>
    <link rel="stylesheet" href="./index.css" charset="utf-8">
  </head>
  <body>
    <div class='wrapper' id="credits">
      <div class='movie'>{{ end_message }}</div>
      <div class='job'>Spéciales</div>
      <span class='name' v-for="special in specials">{{ special }}</span>

      <div class='job'>Donateurs</div>
      <span class='name' v-for="donateur in donators">{{ donateur }}</span>

      <div class='job'>Followers</div>
      <span class='name' v-for="follower in followers">{{ follower.user.display_name }}</span>

      <div class='job'></div>
      <span class='name'>Une création de Swizz540 pour Necne0</span>
    </div>

    <script src="https://cdn.jsdelivr.net/vue/1.0.16/vue.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/0.7.0/vue-resource.min.js" charset="utf-8"></script>
    <script>
      function getParameterByName(name, url) {
          if (!url) url = window.location.hash;
          name = name.replace(/[\[\]]/g, "\\$&");
          var regex = new RegExp("[#&]" + name + "(=([^&#]*)|&|$)"),
              results = regex.exec(url);
          if (!results) return '';
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      var credits = new Vue({
        el: '#credits',

        http: {
          root: 'https://api.twitch.tv/kraken/'
        },

        data: {
          username: "necne0",
          end_message: "Merci !",

          specials: null,
          donators: null,
          followers: null,
        },

        ready: function () {
          var _ = this;
          var array_followers = [];

          this.$set('donators', getParameterByName('donateurs').split(","));
          this.$set('specials', getParameterByName('specials').split(","));

          var contentNext = function (next_url) {
            _.$resource(next_url).get().then(function (response) {
              if(response.data.follows.length > 0) {
                array_followers = array_followers.concat(response.data.follows);
                contentNext(response.data._links.next);
              }

              _.$set('followers', array_followers);
            });
          };

          _.$resource('channels/{channel}/follows', { limit: 100 }).get({ channel: _.$get('username') }).then(function (response) {
            if(response.data.follows.length > 0) {
              array_followers = array_followers.concat(response.data.follows);
              contentNext(response.data._links.next);
            }

            _.$set('followers', array_followers);
          });
        }

      });
    </script>
  </body>
</html>
